.btn-primary {
  border: 0;
  background: $btn-primary-background-color;
  color: $btn-primary-font-color;
  min-width: $btn-min-width;
  height: $btn-height;
  font-size: $btn-font-size;
  font-weight: $bold;
  cursor: pointer;
  &:hover {
    outline: 2px solid $btn-outline-color;
  }
}

.full-page-message {
  // height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  .message-text {
    margin: 20px 0px;
  }
}
.full-page-message.is-page-transparent {
  position: absolute;
  color: $base-font-color;
  background: $transparent-black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
#root > .full-page-message {
  height: 100vh;
}

input[type=radio] {
  margin-right: 5px;
  outline: 0;
}

input[type=text] {
  border: 0;
  border-bottom: 1px solid $inp-border-color;;
  width: 90%;
  height: $inp-height;
  line-height: $inp-height;
  font-size: $inp-font-size;
  outline: 0;
}